Source: nmc-clamav-antivirus
Section: base
Priority: optional
Maintainer: Nexenta Systems <maintainer@nexenta.com>
Build-Depends: debhelper (>= 40-0-11)

Package: nmc-clamav-antivirus
Architecture: any
Depends: nmc (>= 40-0-0), nms-clamav-antivirus (>= 40-0-0)
Description: [:nxplugin::nmc:clamav-antivirus] ClamAV AntiVirus extension for NMC
 ClamAV AntiVirus integration with NMC (console)
 .
